In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from io import StringIO
from IPython.display import Image

%matplotlib inline

plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (18,12)

In [2]:
# Загружаем данные
train_data=pd.read_csv('train.csv')
test_data=pd.read_csv('test.csv')

In [3]:
# Смотрим ...
train_data.head()

,_id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,target
0,df7489733b004bbe40d3d37b34f82419,54,technician,married,professional.course,unknown,no,no,cellular,aug,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,0
1,905a0b9a5456ee962223033473666be3,36,services,single,basic.4y,no,no,no,telephone,may,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
2,02d69c07ec6d68e31d641edd45ce61cd,53,blue-collar,married,basic.4y,no,yes,no,cellular,aug,...,1,999,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,0
3,e492fbe0cccaf67cdb5c0944dbc8a167,34,blue-collar,married,basic.9y,no,yes,yes,telephone,may,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,0
4,ac2dc6f5835bdea8e71dd99b65208d07,29,services,single,university.degree,no,yes,no,telephone,aug,...,1,999,0,nonexistent,-1.7,94.027,-38.3,0.890,4991.6,0

In [4]:
train_data.shape

(24712, 22)

In [5]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24712 entries, 0 to 24711
Data columns (total 22 columns):
_id               24712 non-null object
age               24712 non-null int64
job               24712 non-null object
marital           24712 non-null object
education         24712 non-null object
default           24712 non-null object
housing           24712 non-null object
loan              24712 non-null object
contact           24712 non-null object
month             24712 non-null object
day_of_week       24712 non-null object
duration          24712 non-null int64
campaign          24712 non-null int64
pdays             24712 non-null int64
previous          24712 non-null int64
poutcome          24712 non-null object
emp.var.rate      24712 non-null float64
cons.price.idx    24712 non-null float64
cons.conf.idx     24712 non-null float64
euribor3m         24712 non-null float64
nr.employed       24712 non-null float64
target            24712 non-null int64
dtypes: float64(5), int64(6), object(11)
memory usage: 4.1+ MB

In [6]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16476 entries, 0 to 16475
Data columns (total 21 columns):
_id               16476 non-null object
age               16476 non-null int64
job               16476 non-null object
marital           16476 non-null object
education         16476 non-null object
default           16476 non-null object
housing           16476 non-null object
loan              16476 non-null object
contact           16476 non-null object
month             16476 non-null object
day_of_week       16476 non-null object
duration          16476 non-null int64
campaign          16476 non-null int64
pdays             16476 non-null int64
previous          16476 non-null int64
poutcome          16476 non-null object
emp.var.rate      16476 non-null float64
cons.price.idx    16476 non-null float64
cons.conf.idx     16476 non-null float64
euribor3m         16476 non-null float64
nr.employed       16476 non-null float64
dtypes: float64(5), int64(5), object(11)
memory usage: 2.6+ MB

In [7]:
train_data.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,target
count,24712.000000,24712.000000,24712.000000,24712.000000,24712.000000,24712.000000,24712.000000,24712.000000,24712.000000,24712.000000,24712.000000
mean,40.030188,258.345298,2.580163,963.558797,0.171900,0.082713,93.576386,-40.516077,3.619397,5166.988111,0.112779
std,10.462301,261.573344,2.776757,184.224885,0.491511,1.572300,0.579548,4.639359,1.737099,72.516221,0.316329
min,17.000000,0.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000,0.000000
25%,32.000000,102.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000,0.000000
50%,38.000000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000,0.000000
75%,47.000000,319.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000,0.000000
max,98.000000,4918.000000,43.000000,999.000000,6.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000,1.000000

In [8]:
test_data.describe()

,age,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
count,16476.000000,16476.000000,16476.000000,16476.000000,16476.000000,16476.000000,16476.000000,16476.000000,16476.000000,16476.000000
mean,40.014870,258.194586,2.548738,960.850571,0.174557,0.080645,93.574583,-40.482387,3.624132,5167.107605
std,10.359684,255.807695,2.759845,190.862870,0.499953,1.568994,0.577792,4.611474,1.730512,71.854828
min,17.000000,1.000000,1.000000,0.000000,0.000000,-3.400000,92.201000,-50.800000,0.634000,4963.600000
25%,32.000000,103.000000,1.000000,999.000000,0.000000,-1.800000,93.075000,-42.700000,1.344000,5099.100000
50%,38.000000,180.000000,2.000000,999.000000,0.000000,1.100000,93.749000,-41.800000,4.857000,5191.000000
75%,47.000000,320.000000,3.000000,999.000000,0.000000,1.400000,93.994000,-36.400000,4.961000,5228.100000
max,98.000000,3509.000000,56.000000,999.000000,7.000000,1.400000,94.767000,-26.900000,5.045000,5228.100000

In [9]:
# Присваиваем признак вида выборки и склеиваем в один датасет для трансформации
train_data.loc[:, 'sample'] = 'train'
test_data.loc[:, 'sample'] = 'test'
df = train_data.append(test_data).reset_index(drop=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6201: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  sort=sort)

In [10]:
# смотри каково разнообразие значений в категориальных переменных
for i in df.columns: # перебираем все столбцы
    if (str(train_data[i].dtype) == 'object') &(i not in ['_id', 'sample']): # если тип столбца - object и это не идентификатор
        print('='*10)
        print(i) # выводим название столбца
        print(set(train_data[i])) # выводим все его уникальные значения 
        print('\n') # выводим пустую строку

==========
contact
{'cellular', 'telephone'}


==========
day_of_week
{'tue', 'mon', 'wed', 'fri', 'thu'}


==========
default
{'no', 'unknown', 'yes'}


==========
education
{'basic.6y', 'basic.9y', 'professional.course', 'university.degree', 'unknown', 'illiterate', 'high.school', 'basic.4y'}


==========
housing
{'no', 'yes', 'unknown'}


==========
job
{'services', 'housemaid', 'technician', 'retired', 'blue-collar', 'unknown', 'entrepreneur', 'student', 'unemployed', 'self-employed', 'admin.', 'management'}


==========
loan
{'no', 'yes', 'unknown'}


==========
marital
{'single', 'unknown', 'married', 'divorced'}


==========
month
{'jul', 'oct', 'aug', 'sep', 'mar', 'nov', 'dec', 'may', 'jun', 'apr'}


==========
poutcome
{'failure', 'success', 'nonexistent'}

In [11]:
def preproc_data(df_input):
    ''' Функция препроцессинга '''
    df_output = df_input.copy()
    
    # определяем категориальные признаки
    cat_features=[col for col in df_output.columns if str(df_output[col].dtype) == 'object']
    cat_features.remove('sample') # исключаем признак выборки
    cat_features.remove('_id') # исключаем идентификатор

    # "приклеиваем" дамми-признаки столюцами справа
    df_output=pd.concat([df_output, pd.get_dummies(df_output[cat_features])], axis=1)
    # удаляем исходный категориальные признаки
    df_output.drop(cat_features, axis=1, inplace=True)
    
    return df_output

In [12]:
# Применяем функцию препроцессинга
df_preproc = df.pipe(preproc_data)

# Разделяем выборки
df_train_preproc = df_preproc.query('sample == "train"').drop(['sample'], axis=1)
df_test_preproc = df_preproc.query('sample == "test"').drop(['sample'], axis=1)

In [13]:
# Выделяем target
y = df_train_preproc['target']
# Делим признаки на train и тест
X, X_test = df_train_preproc.drop(['target','_id'], axis=1), df_test_preproc.drop(['target','_id'], axis=1)
# выделяем вектор идентификаторов тестовой выборки
test_id=df_test_preproc['_id']

In [14]:
from sklearn.metrics import roc_auc_score, roc_curve
from sklearn.model_selection import StratifiedKFold
from sklearn.tree import DecisionTreeClassifier

from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import RobustScaler

from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import StratifiedKFold

from scipy.stats import randint as randint
from scipy.stats import uniform

## Модель №1 - Деревья решений

In [15]:
# Определим пространство поиска
param_grid = {
    'criterion': ['gini', 'entropy'],
    'max_depth': randint(2, 10),
    'min_samples_leaf': randint(1, 10),
    'class_weight': [None, 'balanced']}

# Разбивка на фолды
cv = StratifiedKFold(n_splits=5, shuffle=True, random_state=123)

# Будем делать 100 запусков поиска
model = DecisionTreeClassifier(random_state=123)
random_search = RandomizedSearchCV(model, param_distributions=param_grid, n_iter=100, n_jobs=-1,
                                   cv=cv, scoring='roc_auc', random_state=123)
# Ищем
random_search.fit(X, y)

RandomizedSearchCV(cv=StratifiedKFold(n_splits=5, random_state=123, shuffle=True),
          error_score='raise',
          estimator=DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=123,
            splitter='best'),
          fit_params=None, iid=True, n_iter=100, n_jobs=-1,
          param_distributions={'criterion': ['gini', 'entropy'], 'max_depth': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001E0E7BE0A90>, 'min_samples_leaf': <scipy.stats._distn_infrastructure.rv_frozen object at 0x000001E0E7BE0BE0>, 'class_weight': [None, 'balanced']},
          pre_dispatch='2*n_jobs', random_state=123, refit=True,
          return_train_score='warn', scoring='roc_auc', verbose=0)

In [16]:
# лучшее качество
random_search.best_score_

0.933992082643865

In [17]:
# лучшие параметры
random_search.best_params_

{'class_weight': 'balanced',
 'criterion': 'entropy',
 'max_depth': 5,
 'min_samples_leaf': 6}

## Уже только это решение дало в baseline 0.93128 на public leaderboard

In [18]:
# Далее решил обучить модель с данным и параметрами не на кросс-валидации, а на всей выборке (не знаю зачем поменял random-state))
model = DecisionTreeClassifier(criterion='entropy', max_depth=6, min_samples_leaf=10, class_weight='balanced',random_state=42)
model.fit(X, y)

DecisionTreeClassifier(class_weight='balanced', criterion='entropy',
            max_depth=6, max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=10, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best')

In [19]:
# Получаем предсказания
fitted=model.predict_proba(X)[:,1]
predictions=model.predict_proba(X_test)[:,1]

In [20]:
# Посмотрим ROC-AUC на обучении на всякий случай (может переобучились вдруг...)
roc_auc_score(y, fitted)

0.9456126853828187

In [21]:
# Запусивыаем результаты
result=pd.DataFrame(columns=['_id', 'target'])
result['_id']=test_id
result['target']=predictions
result.to_csv('submission.csv', sep=',', index=False)